.ant-modal-content {
    
    background-color: rgb(41, 46, 65) !important;
}

.ant-modal-title {
    color: #ddd !important;
    background-color: rgb(41, 46, 65) !important;
}

.ant-modal-body {
    p {
        color: #ccc !important;
    }
}


.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.7) !important;
}