.nft {
    background-color: var(--item-bg-color);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .nft--header-id {
            color: var(--text-title-color);
            font-size: 1rem;
        }
    }

    &--loans-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 40px;
    }


    .nft--principal{
        margin-top: 6px;
        line-height: 1.6rem;
    }

}

.nft-info-title {
    color: var(--text-title-color);
    font-size: 0.9rem;
    font-weight: 700;
}
