.nft {
    background-color: var(--item-bg-color);
    position: relative;
    padding: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #777;
    .nft---id {
        color: var(--text-title-color);
        font-size: 1rem;
    }
    .nft-image {
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
    &--loans-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 10px;
    }
    .nft--principal{
        margin-top: 6px;
    }

}

.nft-info-title {
    color: var(--text-title-color);
    font-size: 0.9rem;
    font-weight: 700;
}


