.app-lendingpage {
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    
    &--left {
        display: flex;
        flex-direction: column;
        flex: 0.65;
        
        .info-lend, .offer {
            border-radius: 20px;
            width: 100%;
            background-color: rgb(41, 46, 65);
            margin-bottom: 40px;

            &--header {
                background-color: #9fa6bf;
                padding: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .info-lend-items{
                    display: flex;
                    flex-direction: row;
                    .info-lend-item {
                        display: flex;
                        flex-direction: column;
                        margin: 0 16px 0px 16px;
                    }
                }
            }

            &--content{
                padding: 40px;
                display: flex;
                flex-direction: row;
                
                .info-nft {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    padding: 0 20px 0 20px;
                    &--list-props {
                        width: 100%;
                        padding: 0 0px 0 40px;
                        font-size: 1.2rem;
                        .info-nft--name {
                            font-size: 1.4rem;
                            font-weight: 600;
                            margin-bottom: 16px;
                        }
                        .info-nft--prop {
                            margin: 4px 0;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }

            .offer--table{
                padding: 20px 40px 0 40px;
            }
        }
    }

    &--right {
        display: flex;
        flex-direction: column;
        flex: 0.3;
        .action, .user-info {
            width: 100%;
            background-color: var(--item-bg-color);
            margin-bottom: 40px;
            height: 300px;
            border-radius: 20px;

            &--header {
                background-color: #9fa6bf;
                padding: 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
                p {
                    text-align: center;
                    width: 100%;
                    font-weight: 700;
                    font-size: 1.1rem;
                }
            }
        }   
    }

}