.app-tokenize {
    background-color: var(--item-bg-color);
    width: 800px;
    margin: 60px auto 0px auto;
    padding: 60px;
    border-radius: 10px;
    
    h1 {
        margin-bottom: 50px;
    }


    .token-field {
        .title {
            margin-bottom: 10px;
        }
        .input {
            margin-bottom: 30px;
        }   
    }

    .btn-tokenize {
        padding: 16px 20px;
        background-color: rgb(56, 61, 81);
        color: #ddd;
        border: 1px solid rgba(235, 235, 239, 0.08)!important;
        margin-left: auto;
        width: 230px;
        margin-right: auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        font-size: 1.1rem;
    }
    






    // Overide InputCSS
    .ant-input-number, .ant-input-number-group-addon{
        background: rgba(57, 55, 90, 0.5)!important;
        border: none !important;
        border-radius: 0 !important;
        padding: 6px 20px;
        width: 100% !important;
    }
    
    .ant-input-number-group-wrapper {
        width: 100%;
    }
    .ant-input-number-input {
        color: white !important;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .ant-input {
        background: rgba(57, 55, 90, 0.5)!important;
        border: none !important;
        border-radius: 0 !important;
        padding: 14px 20px;
        color: white;
        font-weight: 600;
        font-size: 1.1rem
    }

    .ant-input-number-group-addon {
        color:#eee;
        font-weight: 600;
    }
}   

.modal-tokenize {
    margin-left: var(--sidebar-width) !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
::-ms-input-placeholder { /* Microsoft Edge */
    color: red !important;
}

.ant-select-selector {
    border-radius: 0 !important;
    background-color: rgba(57, 55, 90, 0.5)!important;
    border: none !important;
    width: 330px !important;
    height: 50px !important;
}
.ant-select-selection-placeholder {
    position: relative !important;
    top: 10px !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}
.ant-select-selection-item {
    color: #eee !important;
    line-height: 50px !important;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}