.app-myinfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &--left {
        flex-basis: 68%;
        height: 100%;
        &--nfts {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, calc(100% / 5 - 20px)); /* 2 */
            row-gap: 20px;
            flex-basis: 68%;
            height: 100%;
        }

        &--asset {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            column-gap: 20px;
            .asset-item {
                border: 1px solid #ec7f4e;
                background-color: rgba(255,255,255,0.1);
                padding: 16px;
                min-width: 170px;
                border-radius: 4px;
            }

            .asset-item--title {
                font-size: 0.9rem;
                font-weight: 600;
            }

            .asset-item--amount {
                font-size: 1.3rem;
                font-weight: 700;
                margin-top: 4px;
                text-align: center;
            }
        }

    }
    &--right {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: 100px;
        .item {
            padding: 30px;
            border-radius: 6px;
            background-color: rgb(41, 46, 65) ;
            &--header {
                width: 100%;
                font-weight: 700;
                font-size: 1.1rem;
            }

            .list-token {
                padding: 20px 40px;
                padding-bottom: 0;
            }
        }
    }
    &--tokens {
        flex-basis: 30%;
        height: 100px;
        padding: 30px;
    }
}