.app-myinfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &--left {
        flex-basis: 68%;
        height: 100%;
        &--nfts {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, calc(100% / 5 - 20px)); /* 2 */
            row-gap: 20px;
            flex-basis: 68%;
            height: 100%;
        }

        .header {
            font-size: 1.6rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &--asset {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            column-gap: 20px;
            .asset-item {
                border: 1px solid #ec7f4e;
                background-color: rgba(255,255,255,0.1);
                padding: 16px;
                min-width: 200px;
                border-radius: 4px;
            }
            .asset-item:nth-child(3) {
                margin-left: auto;
                border: none;
                min-width: none;
                .asset-item--amount {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-top: 10px;
                }
    
            }

            .asset-item--title {
                font-size: 0.9rem;
                font-weight: 600;
            }

            .asset-item--amount {
                font-size: 1.3rem;
                font-weight: 700;
                margin-top: 10px;
            }

            .asset-item--note {
                font-size: 0.8rem;
                font-weight: 600;
                margin-top: 10px;
                text-align: right;
            }
        }

    }
    &--right {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: 100px;
        .item {
            padding: 30px;
            border-radius: 6px;
            background-color: rgb(41, 46, 65) ;
            &--header {
                width: 100%;
                font-weight: 700;
                font-size: 1.1rem;
            }

            .list-token {
                padding: 20px;
                padding-bottom: 0;
            }
        }
        .app-myinfo--statistics {
            padding: 20px 20px 0 20px;

            .title {
                font-size: 1rem;
                font-weight: 600px;
                margin-bottom: 16px;
            }
            .content {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: center;
                &--progress {
                 
                }
                .content-item {
                    margin: 0px 20px;   
                    &--title {
                        color: #ccc;
                        font-weight: 700;
                    }
                    &--text {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                .divider {
                    border-color: #ccc;
                    height: 40px;
                    margin-right: 30px;
                }
            }
            .ant-progress-text{
                color: white;
                font-weight: 700;
            }
        }

    }
    &--tokens {
        flex-basis: 30%;
        height: 100px;
        padding: 30px;
    }
}