:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --header-height: 64px;
  --sidebar-width: 86px;
  
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 10, 10, 10;
  --hover-color: #bbb;

  --item-bg-color: rgb(245, 244, 246);
  --text-title-color: #555;


  --sig-border-color:rgb(94, 71, 245);
  --sig-box-shadow: rgba(27, 17, 47, 0.1) 6px 6px 20px 4px, rgba(60, 48, 84, 0.1) -6px -6px 12px, rgba(60, 48, 84, 0.05) 2px 2px 4px inset;

  --bg-img: radial-gradient(circle, #f5f6f7, #f3f5fa, #f3f4fc, #f5f3fe, #f8f1ff);
  --foreground-rgb : 255,255,255;
  --hover-color: #ffffff19;
  --item-bg-color: rgb(41, 46, 65);
  
  --sig-border-color:rgb(122, 112, 255);
  --sig-box-shadow:  rgb(27, 17, 47) 6px 6px 20px 4px, rgb(60, 48, 84) -6px -6px 12px, rgba(60, 48, 84, 0.75) 2px 2px 4px inset;
  
  /* COLOR TEXT */
  --text-title-color: #ccc;

  --bg-img: radial-gradient(circle, #1b2030, #1b2030, #1b2030, #1b2030, #1b2030);
}

.app {
  z-index: -1;
  height: fit-content;
  background-image: var(--bg-img);
  content: "";
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.app-content {
  margin-left: var(--sidebar-width);
  margin-top: var(--header-height);
  width: calc(100vw - var(--sidebar-width));
  display: flex;
  justify-content: center;
}

[data-theme='dark'] {
  --foreground-rgb : 255,255,255;
  --hover-color: #ffffff19;
  --item-bg-color: rgb(41, 46, 65);
  
  --sig-border-color:rgb(122, 112, 255);
  --sig-box-shadow:  rgb(27, 17, 47) 6px 6px 20px 4px, rgb(60, 48, 84) -6px -6px 12px, rgba(60, 48, 84, 0.75) 2px 2px 4px inset;
  
  /* COLOR TEXT */
  --text-title-color: #ccc;

  --bg-img: radial-gradient(circle, #1b2030, #1b2030, #1b2030, #1b2030, #1b2030);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
      --main-width: 95vw
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
      --main-width:95vw
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
      --main-width: 90vw
  }
}

@media only screen and (min-width: 1200px) {
  :root {
      --main-width: 90vw
  }
}

@media only screen and (min-width: 1680px) {
  :root {
      --main-width: 90vw
  }
}


@media only screen and (min-width: 1920px) {
  :root {
      --main-width: 90%
  }
}

@media only screen and (min-width: 2240px) {
  :root {
      --main-width: 90%
  }
}
