 .app-loanitem {
    background-color: rgb(41, 46, 65);
    border: 1px solid #aaa;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    width: 100%;

    // justify-content: space-between;
    .loan-id {
        font-size: 1rem;
        font-weight: 500;
        color: #ccc;
        margin-bottom: 10px;
        span {
            font-weight: 400;
            color: #eee
        }
    }
    &--image {
        width: 250px;
        height: 260px;
        border-radius: 6px;
        object-fit: cover;
    }

    .loan-nft-info {
        margin-left: 30px;
        width: 460px;
        .name-nft {
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .info-item {
            font-size: 1rem;
            font-weight: 500;
            color: #ccc;
            margin-top: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span {
                margin-left: auto;
                color: #fff;
            }
            a {
                text-decoration: underline;
                color: #fff;

            }
        }
    }

    .divider {
        width: 1px;
        background-color: #ccc;
        margin: 0 30px;
    }

    .loan-term {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        column-gap : 40px;
        margin-top: 10px;

        .term-item {
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 6px 12px;

            &--title {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 14px;
            }

            &--value {
                font-size: 1.1rem;
                font-weight: 600;
                color: rgb(169, 226, 251);
                text-align: right;
            }

        }
    }

    .loan-action {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .btn-action:last-child {
            margin-left: 20px;
        }

        Button {
            background-color: rgb(56, 61, 81);
            border: 1px solid rgba(235, 235, 239, 0.08)!important;
            border-radius: 4px !important;
            margin: 0 20px;
        } 

    }

    .loan-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .time-info .content--progress {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-bottom: 10px;
        }

        .content-item {
            text-align: center;
        }
    }


}