.app-myloan {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--header {
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: 10px;
        width: 100%;
    }


    .segment-item {
        min-width: 300px;
        padding: 10px 0;
        display: flex;

        .name {
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 10px;
        }

        .avatar {
            border: 1px solid black;
        }
    }

    &--list {
        margin-top: 40px;
    }

    // Overide CSS
    .ant-segmented-group {
        background-color: #aaa;
    }
    .ant-segmented-item-selected {
        color: black;
        font-weight: 900;
    }
}