.app-header {
    width: calc(100vw - var(--sidebar-width));
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--hover-color);
    margin-left: var(--sidebar-width);

    &--container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: var(--header-height);
        width: var(--main-width);
        .logo {
            cursor: pointer;
        }
        
        .header-link {
            display: flex;
            flex-direction: row;
            align-items: center;

            .option-link {
                margin: 0px 16px;
                font-size: 1rem;
                padding: 6px 20px;
                font-weight: 500;
                border-radius: 20px;
                &:hover {
                    background-color: var(--hover-color);
                }
            }
        }

    }
}

:where(.css-dev-only-do-not-override-byeoj0).ant-btn-primary {
    background-color: rgb(165, 163, 255);
    color: black;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff;
    background-color: rgb(195, 163, 255);
    color: black;
}