.app-borrow {
    margin-top: 50px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.app-borrow-nfts {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, calc(100% / 5 - 20px)); /* 2 */
    row-gap: 20px;
    flex: 0.65;
}
.app-borrow-info {
    flex-direction: row;
    flex: 0.3;

    .action, .user-info {
        width: 100%;
        background-color: var(--item-bg-color);
        margin-bottom: 40px;
        border-radius: 6px;
        padding: 20px 40px;
        &--header {
            background-color: rgb(41, 46, 65) ;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 6px;
            p {
                width: 100%;
                font-weight: 700;
                font-size: 1.1rem;
            }
        }
        .action--content {
            margin-top: 20px;
        }
        .action--content-addon{
            color: #ccc;
            font-weight: 500;     
            width: 100px;     
            text-align: left;
            border-right: 1px solid  rgba(235, 235, 239, 0.08);
            line-height: 30px;
            padding-left: 10px;
        }
        .repayment {
            text-align: right;
            padding: 10px 0px
        }
        .button-create{
            padding: 12px 20px;
            background-color: rgb(56, 61, 81);
            color: #ddd;
            border: 1px solid rgba(235, 235, 239, 0.08)!important;
            width: 180px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
        }
        .button-create:hover {
            border: 1px solid rgba(235, 235, 239, 0.3)!important;
        }

        .user-info-borrow {
            margin-top: 30px;
            margin-bottom: 10px;

            .title {
                font-size: 1rem;
                font-weight: 600px;
                margin-bottom: 16px;
            }
            .content {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;
                align-items: center;
                &--progress {
                 
                }
                .content-item {
                    margin: 0px 20px;   
                    &--title {
                        color: #ccc;
                        font-weight: 700;
                    }
                    &--text {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                .divider {
                    border-color: #ccc;
                    height: 40px;
                    margin-right: 30px;
                }
            }
            .ant-progress-text{
                color: white;
                font-weight: 700;
            }
        }
    }  
    .collateral {
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        margin: 10px 0px 50px 0px;
        position: relative;
        align-items: flex-end;
        img {
            width: 100px;
            height: 100px;
            border-radius: 5px;
        }
        .nft-name {
            font-size: 1.3rem;
            font-weight: 600;     
        }
        .btn-info {
            position: absolute;
            right: -10px;
            top: -10px;
            cursor: pointer;
            padding: 10px;
            &--icon {
                font-size: 1.5rem;
                &:hover {
                    color: black;
                }
            }
        }
        .info-nft--prop {
            span {
                font-weight: 600;
            }
        }
    }

}

@media screen and (max-width: 2200px) {
    .app-borrow-nfts {
        grid-template-columns: repeat(auto-fill, calc(100% / 5 - 20px)); /* 2 */
    }
}
@media screen and (max-width: 1920px) {
    .app-borrow-nfts {
        grid-template-columns: repeat(auto-fill, calc(100% / 4 - 20px)); /* 2 */
    }
}
@media screen and (max-width: 1680px) {
    .app-borrow-nfts {
        grid-template-columns: repeat(auto-fill, calc(100% / 3 - 20px)); /* 2 */
    }
}
@media screen and (max-width: 1260px) {
    .app-borrow-nfts {
        grid-template-columns: repeat(auto-fill, calc(100% / 2 - 20px)); /* 2 */
    }
}
@media screen and (max-width: 768px) {
    .app-borrow-nfts {
        grid-template-columns: repeat(auto-fill, calc(100% / 1 - 20px)); /* 2 */
    }
}
@media screen and (max-width: 480px) {
    .app-borrow-nfts {
        grid-template-columns: repeat(auto-fill, calc(100% / 1 - 20px)); /* 2 */
    }
}


// Overide InputCSS
.ant-input-number, .ant-input-number-group-addon{
    background: rgba(57, 55, 90, 0.5)!important;
    border: none !important;
    border-radius: 0 !important;
    padding: 6px 20px;
}

.ant-input-number-input{
    color: white !important;
    font-size: 1rem;
    font-weight: 600;
}
.ant-input-number-group-wrapper {
    width: 100% !important;
}

.ant-input-number-group-wrapper:first-child{
    .ant-input-number-group-addon:first-child{
        border-top-left-radius: 10px !important;
    }
    .ant-input-number-group-addon:last-child{
        border-top-right-radius: 10px !important;
        
        span {
            color: white;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

.ant-input-number-group-wrapper:last-child{
    .ant-input-number-group-addon:first-child{
        border-bottom-left-radius: 10px !important;
    }
    .ant-input-number-group-addon:last-child{
        border-bottom-right-radius: 10px !important;

        span {
            color: white;
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
}

