.app-lend {
    &--listing {
        display: grid; /* 1 */
        grid-template-columns: repeat(auto-fill, 300px); /* 2 */
        grid-gap: 30px; /* 3 */
        justify-content: space-between; /* 4 */
        margin-top: 50px;
    }
}


@media only screen and (max-width: 2240px) {
    .app-lend  {
        &--listing {
            grid-template-columns: repeat(auto-fill, calc(100% / 6 - 30px)); /* 2 */
        }
    }
}
@media only screen and (max-width: 1920px) {
    .app-lend  {
        &--listing {
            grid-template-columns: repeat(auto-fill, calc(100% / 5 - 30px)); /* 2 */
        }
    }
}
@media only screen and (max-width: 1680px) {
    .app-lend  {
        &--listing {
            grid-template-columns: repeat(auto-fill, calc(100% / 5 - 30px)); /* 2 */
        }
    }
}
@media only screen and (max-width: 1260px) {
    .app-lend  {
        &--listing {
            grid-template-columns: repeat(auto-fill, calc(100% / 4 - 30px)); /* 2 */
        }
    }
}
@media only screen and (max-width: 768px) {
    .app-lend  {
        &--listing {
            grid-template-columns: repeat(auto-fill, calc(100% / 3 - 30px)); /* 2 */
        }
    }
}


@media only screen and (max-width: 480px) {
    .app-lend  {
        &--listing {
            grid-template-columns: repeat(auto-fill, calc(100% / 2 - 30px)); /* 2 */
        }
    }

}

